#  -----------------------------
# Default configuration block. Mandatory. Always used if no profile is specified.
# To use another profile use: --profile ie. --profile production
#  -----------------------------
[default]
# Enter your web hook url created on MS Teams
# Supports local file for testing, example:  webhook_url = file:///tmp/my-file.txt
webhook_url = https://outlook.office.com/webhook/<YOUR_TOKEN>

# Specify a severity, can be overridden by '--severity'
# The severity determines the color of the message.
# ERROR, WARNING or INFO
severity = ERROR

# Optionally specify who should appear as sender.
# If not given, the local hostname is used.
# Can be overridden by --sender
sender = My server

# You can append any facts to the message. Optional.
# Format fact.FACT_NAME ie. fact.Project Name = Your Project Name fact becomes 'Project Name: Your Project Name'
fact.Env = Staging
fact.Project Name = Your Project Name

[production]
webhook_url = https://outlook.office.com/webhook/<YOUR_TOKEN>
severity = ERROR
sender = My tiny Webserver
fact.Env = Production
